/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f8f9;
}

header{
    background-color: white;
}

.ml{
    margin-left: 16px;
}


/* HEADER */
.header-logo{
    height: 80px;
    line-height: 80px;
}

#logo-img{
    height: 60px;
    vertical-align: middle;
}

.header-logo span{
    font-size: 3rem;
    font-weight: 750;
    vertical-align: middle;
}

/* MAIN */

.container-main {
    width: 90%;
    padding-top: 1em;
    margin: 20px auto 10px;

}

.container-button{
    width: 80%;
    margin: 0.1em auto;
    background-color: white;
    padding-left: 5em;
    padding-top: 15px;
    padding-bottom: 0.5em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* buttons */
.add-task{
    color: white;
    background-color: #47adf1;
    border-style: none;
    padding: 8px;
    border-radius: 6px;
}

.add-section{
    color: rgba(128, 128, 128, 0.541);
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.301);
    padding: 8px;
    border-radius: 6px;
}

/* to do list  */
.container-list{
    width: 80%;
    margin: 0.3em auto;
    padding-top: 20px;
    padding-left: 4.5em;
    padding-bottom: 2em;
    line-height: 40px;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

ul{
    list-style-type: none;
}

.major-point{
    font-size: 1.3rem;
    font-weight: 600;
}

.minor-points{
    font-size: 1rem;
    font-weight: 600;
}

.check{
    display: inline-block;
    color: green;
    border: 2px solid green;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.7rem;
}

.cross{
    display: inline-block;
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.7rem;
}

.notification{
    color: white;
    padding: 7px;
    font-size: 0.5rem;
    border-radius: 11px;
}

.blue{
    background-color: #45abea;
}

.violet{
    background-color: #9c72e4;
}

.lightgreen{
    background-color: #64c0a9;
}

.orange{
    background-color: #f29e33;
}

.purple{
    background-color: #d863a1;
}

.darkgreen{
    background-color: #b0c926;
}